@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
:root{
    --pure: #ffffff;
    --gray: #333333;
    --back: #181818;
    --secondary: #f0b012;
}
body{
    background: var(--pure);
}
.container{
    padding: 100px 200px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.uh{
    font-size: 25px;
    text-align: center;
    color: var(--back);
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
}
.uh::after{
    content: "";
    width: 30px;
    height: 2px;
    background-color: var(--secondary);
    position: absolute;
    left: 48%;
    bottom: -35%;
}
.ut{
    font-weight: 400;
    text-align: center;
    color: var(--secondary);
    margin-bottom: 10px;
}

/* ====header-section== */
header{
    padding: 0 200px;
    background-color: #f0b012;
    background-image: url("..//images/header-bg.png");
    height: 100vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    text-transform: uppercase;
    background: var(--pure);
    border-radius: 0 0 5px 5px;
}
.navbar img{
    width: 100px;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-menu .item-link{
    font-size: 18px;
    color: var(--back);
    font-weight: 500;
    transition: all .3s ease-in-out;
}
.nav-menu .item-link:hover{
    color: var(--secondary);
}
.header-text{
    text-align: center;
    margin-top: 100px;
}
.header-text .banner-text{
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--back);
    text-transform: uppercase;
}
.header-title{
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: 800;
    margin-bottom: 10px;
    color: var(--back);
    text-transform: uppercase;
}
.header-text p{
    font-size: 16px;
    margin-bottom: 30px;
    color: var(--gray);
}
.btn{
    outline: none;
    border: 2px solid var(--secondary);
    color: var(--pure);
    padding: 10px 30px;
    background-color: var(--back);
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

/* ====about-section=== */
.ab-dis{
    font-size: 12px;
    color: var(--gray);
    line-height: 20px;
    text-align: center;
    width: 65%;
    margin: 50px auto;
}
.about-group{
    display: flex;
    align-items: center;
    gap: 40px;
    width: 80%;
    margin: 40px auto;
}
.about-group .g-item{
    display: flex;
    gap: 10px;
}
.g-item i{
    padding: 30px 25px 0 25px;
    border-radius: 50%;
    font-size: 30px;
    background-color: var(--back);
    color: var(--pure);
}
.g-item .g-title{
    font-size: 16px;
    font-weight: 600;
    color: var(--back);
    margin-bottom: 5px;
}
.g-item p{
    font-size: 10px;
    color: var(--gray);
    line-height: 22px;
}

.card{
    display: flex;
    align-items: center;
    gap: 30px;
}
.card-item img{
    width: 100%;
}
.card-item .card-num{
    text-align: left;
    font-size: 16px;
    margin-top: 20px;
    padding-left: 20px;
    display: inline-block;
}
.card-item .card-title{
    text-transform: uppercase;
    color: var(--back);
    margin-bottom: 10px;
}
.card-item p{
    font-size: 14px;
    color: var(--gray);
    margin-bottom: 10px;
}

.banner2{
    height: 60vh;
    background: var(--back);
    display: flex;
    align-items: center;
    gap: 50px;
    overflow: hidden;
}
.banner2 .b-left{
    flex-basis: 48%;
}
.banner2 .b-left img{
    width: 100%;
}
.banner2 .b-right{
    flex-basis: 48%;
    padding-top: 40px;
}
.banner2 .b-title{
    font-size: 25px;
    font-weight: 600;
    color: var(--pure);
    margin-bottom: 10px;
}
.banner2 .b-sub{
    font-size: 20px;
    font-weight: 600;
    color: var(--pure);
    margin-bottom: 25px;
}
.banner2 .b-group div{
    display: flex;
    align-items: center;
    gap: 30px;
}
.b-group div{
    margin-bottom: 30px;
}
.b-group i{
    color: var(--secondary);
    font-size: 35px;
}
.b-group p{
    font-size: 10px;
    color: var(--pure);
    width: 40%;
}

/* ====project-section=== */
.pro-dis{
    font-size: 12px;
    color: var(--gray);
    line-height: 20px;
    text-align: center;
    width: 65%;
    margin: 50px auto;
}
.project-menu{
    display: flex;
    align-items: center;
    gap: 30px;
    /* margin: auto; */
    text-transform: uppercase;
    width: 50%;
    margin: auto;
    margin-top: 30px;
}
.project-menu .pro-item{
    font-size: 18px;
    color: var(--gray);
    transition: all .3s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    position: relative;
}
.project-menu .pro-item::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--back);
    position: absolute;
    bottom: -15%;
    left: 0;
    transition: all .3s ease-in-out;
}
.project-menu .pro-item:hover{
    color: var(--back);
}
.project-menu .pro-item:hover::after{
    width: 100%;
}
.pro-img{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.pro-img img{
    width: 100%;
}

/* ===service-section==== */
#service{
    background-image: url("../images/bg-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.service-section{
    width: 100%;

    background: rgba(0,0,0,0.9);
}
.ser-dis{
    font-size: 12px;
    color: var(--gray);
    line-height: 20px;
    text-align: center;
    width: 65%;
    margin: 50px auto;
}
.service-section .ser-sub,.ser-dis{
    color: var(--pure);
}
.ser-group{
    display: flex;
    align-items: center;
    gap: 20px;
}
.ser-item .s-title{
    text-transform: uppercase;
    color: var(--pure);
    margin-bottom: 10px;
}
.ser-item p{
    font-size: 14px;
    color: var(--pure);
    margin-bottom: 10px;
}
.ser-item h5{
    color: var(--secondary);
}
.ser-item i{
    color: var(--secondary);
    font-size: 60px;
    margin-bottom: 10px;
}

/* =====process-section==== */
.process-dis{
    font-size: 12px;
    color: var(--gray);
    line-height: 20px;
    text-align: center;
    width: 65%;
    margin: 50px auto;
}
.work{
    margin-top: 70px;
}
.work-item1,.work-item2,.work-item3,.work-item4{
    display: flex;
    align-items: center;
    gap: 70px;
    margin-bottom: 50px;
}
.work-item2,.work-item4{
    margin-right: 29.8%;
    text-align: right;
}
.work-item1,.work-item3{
    margin-left: 33.3%;
}
.work img{
    transform: rotate(-35deg);
}
.work span{
    font-size: 30px;
    border-top: 3px solid var(--secondary);
    border-radius: 50%;
    padding: 7px 25px;
    background: #ececec;
    color: var(--gray);
}
.work-item2 span{
    border-right: 3px solid var(--secondary);
    padding: 7px 20px;
}
.work-item3 span{
    border-right: 3px solid var(--secondary);
    border-bottom: 3px solid var(--secondary);
    padding: 7px 20px;
}
.work-item4 span{
    border: 3px solid var(--secondary);
    padding: 7px 20px;
}
.work-item .w-text h2{
    margin-bottom: 20px;
}
.work-item .w-text p{
    color: var(--gray);
}

/* ====testimonial==== */
.testimonial{
    background: linear-gradient(to left, rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url("../images/bg-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonial .tes-sub{
    color: var(--pure);
}
.review{
    display: flex;
    align-items: center;
    gap: 30px;
}
.review img{
    width: 20%;
    border-radius: 50% 25%;
}
.review h3{
    margin-bottom: 5px;
    color: var(--pure);
}
.review h5{
    color: var(--secondary);
    margin-bottom: 5px;
}
.review p{
    color: var(--pure);
    font-size: 12px;
    padding-right: 80px;
}

/* ====news-section==== */
.news-group{
    margin-top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
}
.news-item{
    display: flex;
    gap: 30px;
}
.news-item .n-title{
    font-size: 17px;
    font-weight: 600;
    color: var(--back);
    margin-bottom: 5px;
}
.news-item .post{
    font-size: 12px;
    margin-bottom: 5px;
    color: #c9c9c9;
}
.news-item .n-des{
    font-size: 13px;
    margin-bottom: 5px;
    color: var(--gray);
}
.news-item .n-des span{
    font-weight: 600;
    color: var(--back);
}
.news-item .i-g-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.i-g-item img{
    width: 20%;
    border-radius: 50% 25%;
}
.i-g-item h3{
    font-size: 16px;
}
.i-g-item p{
    font-size: 12px;
}

/* ====footer-section==== */
footer{
    background-color: var(--back);
}
.footer-section{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
}
.f-item1{
    flex-basis: 24%;
}
.f-item2{
    flex-basis: 24%;
}
.f-item3{
    flex-basis: 24%;
}
.f-item4{
    flex-basis: 24%;
}
.f-item1 img{
    width: 50%;
}
.f-item1 p{
    font-size: 10px;
    color: var(--pure);
    margin: 10px 0;
}
.f-item1 div{
    display: flex;
    gap: 20px;
    color: var(--pure);
}
.f-item2 .f2-title{
    font-size: 16px;
    font-weight: 600;
    color: var(--pure);
    text-align: left;
    margin-bottom: 20px;
}
.f-item2 .f2-title::after{
    left: 0;
}
.item2-g{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
.item2-g img{
    width: 33%;
    height: 3rem;
}
.item2-g p{
    font-size: 12px;
    color: #c9c9c9;
}
.item2-g i{
    font-size: 12px;
    color: #b0b0b0;
}
.f-item3 .f3-title{
    text-align: left;
    color: var(--pure);
    font-size: 16px;
}
.f-item3 .f3-title::after{
    left: 0;
}
.f-item3 div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.f-item3 div i{
    color: var(--secondary);
}
.f-item3 div p{
    color: var(--pure);
    font-size: 12px;
}
.f-item3 .f3-sub{
    text-align: left;
    color: var(--pure);
    font-size: 16px;
    margin-top: 40px;
}
.f-item3 .f3-sub::after{
    left: 0;
}
.f-item3 .sub-g{
    /* background: #dfdfdf; */
    gap: 0;
}
.f-item3 input{
    outline: none;
    border: none;
    padding: 8px 10px;
    color: var(--gray);
    background-color: #dfdfdf;
    border-radius: 5px 0 0 5px;
}
.f-item3 .fa-paper-plane{
    padding: 8.7px 14px;
    font-size: 19px;
    background-color: var(--secondary);
    color: #b0b0b0;
    border-radius: 0 5px 5px 0;
}
.f-item4 .f4-title{
    text-align: left;
    color: var(--pure);
    font-size: 16px;
}
.f-item4 .f4-title::after{
    left: 0;
}
.f-item4 div{
    display: grid;
    grid-template-columns: repeat(3,20%);
    gap: 10px;
    margin-top: 40px;
}
.f-item4 div img{
    width: 100%;
}